#include "resource.h"
#include <windows.h>
#include <commctrl.h>

IDD_DSP_TRELLIS DIALOGEX 0, 0, 420, 500
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DSD Trellis SDM Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "", IDC_LIST_RATEMAP, WC_LISTVIEW, LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 8, 8, 404, 165

    LTEXT           "Threads:", -1, 8, 180, 35, 8
    EDITTEXT        IDC_EDIT_THREADS, 45, 178, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_THREADS, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 73, 178, 11, 14

    LTEXT           "Input Format:", -1, 110, 180, 50, 8
    COMBOBOX        IDC_COMBO_FORMAT, 162, 178, 90, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Debug log (foo_dsd_trellis.log)", IDC_CHECK_DEBUG_LOG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 290, 180, 130, 10

    GROUPBOX        "Path Info", -1, 8, 198, 404, 130
    LTEXT           "Select a rate mapping to see path details.", IDC_STATIC_PATH_INFO, 16, 210, 328, 112
    PUSHBUTTON      "Test Quality", IDC_BTN_TEST_SINAD, 346, 210, 58, 14

    CONTROL         "Anti-pop lead-in", IDC_CHECK_ANTIPOP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 336, 80, 10

    LTEXT           "FIR Gain:", IDC_STATIC_FIR_GAIN, 92, 338, 36, 8
    COMBOBOX        IDC_COMBO_FIR_GAIN, 122, 336, 80, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "ML Noise Filter", IDC_CHECK_ML_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 352, 80, 10
    LTEXT           "Device:", -1, 92, 352, 28, 8
    COMBOBOX        IDC_COMBO_ML_EP, 122, 350, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "", IDC_STATIC_ML_STATUS, 208, 352, 100, 8

    CONTROL         "GPU Compute", IDC_CHECK_GPU_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 368, 55, 10
    LTEXT           "Backend:", -1, 65, 368, 32, 8
    COMBOBOX        IDC_COMBO_GPU_BACKEND, 95, 366, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "GPU SDM", IDC_CHECK_GPU_SDM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 165, 368, 40, 10
    LTEXT           "", IDC_STATIC_GPU_INFO, 208, 368, 200, 8

    LTEXT           "PCM Bits:", IDC_STATIC_PCM_BITS, 8, 386, 36, 8
    COMBOBOX        IDC_COMBO_PCM_BITS, 46, 384, 60, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dither:", IDC_STATIC_PCM_DITHER, 112, 386, 28, 8
    COMBOBOX        IDC_COMBO_PCM_DITHER, 142, 384, 60, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Resampler:", IDC_STATIC_RESAMPLE, 210, 386, 42, 8
    COMBOBOX        IDC_COMBO_RESAMPLE, 254, 384, 50, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Quality:", IDC_STATIC_SOXR_QUALITY, 320, 386, 30, 8
    COMBOBOX        IDC_COMBO_SOXR_QUALITY, 352, 384, 60, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Convolution (Room Correction)", -1, 8, 400, 404, 78
    CONTROL         "Enable", IDC_CHECK_CONV_ENABLED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 412, 40, 10
    CONTROL         "CUDA GPU", IDC_CHECK_CONV_GPU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 62, 412, 45, 10
    LTEXT           "Budget:", -1, 112, 414, 28, 8
    COMBOBOX        IDC_COMBO_CONV_BUDGET, 142, 412, 50, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    /* Left column: L, R, C */
    LTEXT           "L:", -1, 16, 428, 10, 8
    EDITTEXT        IDC_EDIT_CONV_0, 26, 426, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_0, 158, 426, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_0, 176, 426, 16, 14
    LTEXT           "R:", -1, 16, 444, 10, 8
    EDITTEXT        IDC_EDIT_CONV_1, 26, 442, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_1, 158, 442, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_1, 176, 442, 16, 14
    LTEXT           "C:", -1, 16, 460, 10, 8
    EDITTEXT        IDC_EDIT_CONV_2, 26, 458, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_2, 158, 458, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_2, 176, 458, 16, 14
    /* Right column: LFE, SL, SR */
    LTEXT           "LFE:", -1, 210, 428, 16, 8
    EDITTEXT        IDC_EDIT_CONV_3, 228, 426, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_3, 360, 426, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_3, 378, 426, 16, 14
    LTEXT           "SL:", -1, 210, 444, 14, 8
    EDITTEXT        IDC_EDIT_CONV_4, 228, 442, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_4, 360, 442, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_4, 378, 442, 16, 14
    LTEXT           "SR:", -1, 210, 460, 14, 8
    EDITTEXT        IDC_EDIT_CONV_5, 228, 458, 130, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...", IDC_BTN_CONV_5, 360, 458, 16, 14
    PUSHBUTTON      "X", IDC_BTN_CONV_CLR_5, 378, 458, 16, 14

    DEFPUSHBUTTON   "OK", IDOK, 308, 482, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 362, 482, 50, 14
END
