#include "resource.h"
#include <windows.h>

IDD_DSP_TRELLIS DIALOGEX 0, 0, 260, 296
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DSD Trellis SDM Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Output Rate:", -1, 8, 10, 70, 8
    COMBOBOX        IDC_COMBO_OUTPUT_RATE, 80, 8, 88, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Gain (dB):", -1, 8, 28, 70, 8
    EDITTEXT        IDC_EDIT_GAIN, 80, 26, 48, 14, ES_AUTOHSCROLL
    CONTROL         "", IDC_SPIN_GAIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 116, 26, 11, 14
    LTEXT           "0.00 dB", IDC_STATIC_GAIN_DB, 140, 28, 48, 8

    LTEXT           "Trellis Depth:", -1, 8, 46, 70, 8
    COMBOBOX        IDC_COMBO_TRELLIS_DEPTH, 80, 44, 88, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Candidates:", -1, 8, 64, 70, 8
    EDITTEXT        IDC_EDIT_TRELLIS_CANDS, 80, 62, 48, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_TRELLIS_CANDS, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 116, 62, 11, 14

    LTEXT           "Latency:", -1, 8, 82, 70, 8
    EDITTEXT        IDC_EDIT_TRELLIS_LAT, 80, 80, 48, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_TRELLIS_LAT, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 116, 80, 11, 14

    LTEXT           "NTF Filter:", -1, 8, 100, 70, 8
    COMBOBOX        IDC_COMBO_NTF, 80, 98, 88, 160, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Threads:", -1, 8, 118, 70, 8
    EDITTEXT        IDC_EDIT_THREADS, 80, 116, 48, 14, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_THREADS, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 116, 116, 11, 14

    LTEXT           "Input Format:", -1, 8, 136, 70, 8
    COMBOBOX        IDC_COMBO_FORMAT, 80, 134, 88, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Output Format:", -1, 8, 154, 70, 8
    COMBOBOX        IDC_COMBO_OUTPUT_FORMAT, 80, 152, 88, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Mute (DSD silence pattern)", IDC_CHECK_MUTE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 174, 160, 10
    CONTROL         "Debug log (foo_dsd_trellis.log)", IDC_CHECK_DEBUG_LOG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 188, 160, 10

    GROUPBOX        "VU Meter", -1, 8, 204, 244, 44
    LTEXT           "L:", -1, 16, 220, 10, 8
    CTEXT           "---", IDC_STATIC_VU_L, 28, 220, 60, 8
    LTEXT           "R:", -1, 16, 234, 10, 8
    CTEXT           "---", IDC_STATIC_VU_R, 28, 234, 60, 8

    DEFPUSHBUTTON   "OK", IDOK, 148, 274, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 202, 274, 50, 14
END
